@model EntityLayer.Concrete.Food

@{
    ViewData["Title"] = "EditFood";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h4>Ürün Düzenleme</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditFood">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Başlık</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Açıklama</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Fiyat</label>
                <input type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodCategoryId" class="control-label">Kategori Seçimi</label>
                <select asp-for="FoodCategoryId" class="form-control" asp-items="ViewBag.category"></select>
                <span asp-validation-for="FoodCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="float-left">
                    <a class="btn btn-outline-secondary" asp-action="Index">Geri Dön</a>
                </div>
                <div class="float-right">
                    <input type="submit" value="Kaydet" class="btn btn-outline-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

