@model IEnumerable<EntityLayer.Concrete.Food>
@{
    ViewData["Title"] = "FoodList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int order = 1;
}

<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Listesi</h3>
        <a class="float-right btn btn-outline-warning" href="/Menu/AddFood">Ürün Ekle</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kategori - Başlık</th>
                    <th>Fiyat</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@order</td>
                        <td>@item.FoodCategory.Title - @item.Title</td>
                        <td>@item.Price ₺</td>
                        <td><a href="/Menu/DeleteFood/@item.FoodId" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Menu/EditFood/@item.FoodId" class="btn btn-outline-success">Düzenle</a></td>
                    </tr>
                    order++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Kategori - Başlık</th>
                    <th>Fiyat</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

